/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* --------------------- CSS RESET ------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------- CSS RESET ------------------ */




body{
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}


/*  HEADER ========================================================== */

/* spaces out nav logo and li items & centers nav  */
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	padding-top: 18px;
	padding-left: 48px;
	width: 370px;
}

nav a{
	color: #000000;
}

/* makes the nav a row with flex */
.navbar ul {
	display: flex;
	flex-direction: row;
	
}

.navbar{
    color: #000000;
	padding: 14px 50px;
	font-size: 20px;	
}

.nav-list a:hover {
	color: rgb(246, 213, 22);
  }


.nav-list li a{
    text-decoration: none;
	padding: 20px;
	padding-left: 20px;
	font-size: 20px;	
}

/* MENU GRID============================================ */


/* bread 1 ========================================== */
.item-1{
	display: flex;
	padding-top: 10em;	
}

.figure-1{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu-description-1{
	display: flex;
	flex-direction: column;
	width: 37%;
	padding-left: 25em;
	
	line-height: 1.5em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #707070;
}

.menu-description-1 h2{
	font-family: 'Manrope', sans-serif;
	color: #000000;
	font-size: 27px;
	padding-bottom: 1em;
}
/* bread 1 ========================================== */



/* bread 2 ========================================== */
.item-2{
	display: flex;
	padding-top: 10em;
	padding-bottom: 10em;
}

.figure-2{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.menu-description-2{
	display: flex;
	flex-direction: column;
	width: 30%;
	padding-right: 25em;
	padding-left: 10em;
	line-height: 1.5em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #707070;
}

.menu-description-2 h2{
	font-family: 'Manrope', sans-serif;
	color: #000000;
	font-size: 27px;
	padding-bottom: 1em;
}
/* bread 2 ========================================== */



/* bread 3 ========================================== */



.item-3{
	display: flex;
	padding-bottom: 10em;
}

.figure-3{
	display: flex;
	flex-direction: row;
	align-items: center;	
}

.menu-description-3{
	display: flex;
	flex-direction: column;
	width: 30%;
	padding-left: 25em;
	
	line-height: 1.5em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #707070;
}

.menu-description-3 h2{
	font-family: 'Manrope', sans-serif;
	color: #000000;
	font-size: 27px;
	padding-bottom: 1em;
}
/* bread 3 ========================================== */

/* BREAD ANIMATIONS============================ */


/* makes bread spin */
.bread-1:hover{
	animation-name: rotate;
    animation-duration: 1s;
}

@keyframes rotate {
	from {
	  transform: rotate(0deg);
	}
  
	to {
	  transform: rotate(360deg);
	}
  }

  .bread-1:active{
	  animation-name: jump-click;
	  animation-duration: .5s;
  }


  /* makes bread jump when clicked  */
  @keyframes jump-click {
	10%,
	25% {
	  transform: scale(1.3, 0.7);
	}
  
	50% {
	  transform: scale(0.5, 2) translate(0, -200px);
	}
  
	60% {
	  transform: scale(1, 1) translate(0, 0);
	}
  
	75% {
	  transform: scale(1.3, 0.7) translate(0, 0);
	}
  
	85% {
	  transform: scale(1, 1) translate(0, 0);
	}

  }

.bread-2:hover{
	animation-name: rotate;
    animation-duration: 1s;
}

@keyframes rotate {
	from {
	  transform: rotate(0deg);
	}
  
	to {
	  transform: rotate(360deg);
	}
  }

  .bread-2:active{
	animation-name: jump-click;
	animation-duration: .5s;
}


/* makes bread jump when clicked  */
@keyframes jump-click {
  10%,
  25% {
	transform: scale(1.3, 0.7);
  }

  50% {
	transform: scale(0.5, 2) translate(0, -200px);
  }

  60% {
	transform: scale(1, 1) translate(0, 0);
  }

  75% {
	transform: scale(1.3, 0.7) translate(0, 0);
  }

  85% {
	transform: scale(1, 1) translate(0, 0);
  }

}

.bread-3:hover{
	animation-name: rotate;
    animation-duration: 1s;
}

@keyframes rotate {
	from {
	  transform: rotate(0deg);
	}
  
	to {
	  transform: rotate(360deg);
	}
  }

  .bread-3:active{
	animation-name: jump-click;
	animation-duration: .5s;
}


/* makes bread jump when clicked  */
@keyframes jump-click {
  10%,
  25% {
	transform: scale(1.3, 0.7);
  }

  50% {
	transform: scale(0.5, 2) translate(0, -200px);
  }

  60% {
	transform: scale(1, 1) translate(0, 0);
  }

  75% {
	transform: scale(1.3, 0.7) translate(0, 0);
  }

  85% {
	transform: scale(1, 1) translate(0, 0);
  }

}


/* --------------------- FOOTER ---------------------- */

  .footer-container a{
	  color: #D8BB5A;
	  text-decoration: none;
	  font-family: 'Manrope', sans-serif;   
  }

  .footer-container{
	  background-color: #F5F5F5;
	  padding-top: 20px;
	  padding-bottom: 20px;
  }

  .footer-container{
	  display: flex;
	  margin: 0;
	  justify-content: space-between;
	  padding-left: 5rem;
  }

  .footer-heading {
	  display: flex;
	  flex-direction: column;
	  margin-right: 4rem;
	  line-height: 30px;
  }



  .footer-search p {
	color: #D8BB5A;
	text-decoration: none;
	margin-top: .9rem;
	padding-right: 10px;
	padding-left: 10px;
  }

  .footer-search{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-direction: row;
	height: 30px;
	font-family: 'Manrope', sans-serif; 
	color: #D8BB5A;
  }

  .copyright{
	  display: flex;
	  flex-direction: column; 
  }

  .search-box{
	  border: #D8BB5A;
  }

  .ok-button{
	  border: none;
	  text-decoration: none;
	  background-color: #D8BB5A;
	  color: #ffffff;
  }

  
 /* --------------------- FOOTER ----------------------- */
