
/* --------------------- CSS RESET ------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------------- CSS RESET ------------------ */


body{
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

.bg-img {
	/* The image used */
	background-image: url("./images/backgroundbread.JPG");
	min-height: 500px;
	width: 100%;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	overflow: auto;	
  }

  /* Position the navbar container inside the image */
.container {
	margin: 0px;
	width: auto;	
  }
  
  /* The navbar */
.topnav {
	  right: 0;
	  padding-top: 70px;
	  padding-right: 70px;
	  float: right;
  }
  
  /* Navbar links */
.topnav a {
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
  }
  
.topnav a:hover {
	color: rgb(246, 213, 22);
  }

.logo{
	display: flex;
	float: left;
	height: 200px;
	padding: 30px;
	position: inherit;
  }

.sections h2 {
	font-family: 'Manrope', sans-serif;
}


/* had a hard time placing everything right, need to study more on the correct way to make elements and images responsive  */
  /* ------------------------------------------------- */
 /* --------------------- SECTION 1 ------------------- */


.section-1{
	margin: auto;
	width: 75%;
}

.section-1 p{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px ;
	text-align: center;
	color: rgb(107, 107, 107);
	line-height: 1.3em;
	padding-bottom: 6em;
}

.section-1 h2{
	font-size: 50px;
	text-align: center;
	padding-top: 1em ;
	padding-bottom: .5em;
  }

 /* --------------------- SECTION 1 -------------------- */
  /* ------------------------------------------------- */
  


    /* ------------------------------------------------- */
  /* ---------------------- SECTION 2 -------------------- */
.section-2{
	background-color:rgba(222,222,222,0.6);
	margin-left: auto;
	margin-right: auto;
  }

.section-2 img{
	width: 900px;
  }

.home2{
	left:0;
	right:0;
	display: block;
	margin-left: auto;
	margin-right: auto; 
 }

  

  /* --------------------- SECTION 2 ---------------------- */
    /* ------------------------------------------------- */
   
 



 
  
 /* --------------------- SECTION 3 ---------------------- */
.section-3{
	  display: flex;
	  padding-top: 5em;
	  padding-left: 3em;
	  padding-bottom: 6em;
  }

.section-3 p {
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	  color: rgb(107, 107, 107);
	  font-size: 20PX;
	  line-height: 1.3em;
	  width: 80%;
	  
  }

.section-3 h2{
	font-family: 'Manrope', sans-serif;
	font-size: 30px;
	padding-bottom: 20px;
	padding-top: 50px;
  }

.section-3-content{
	  display: flex;
	  flex-direction: column;
	  padding-left: 8em;
	  padding-right: 10px;
	  padding-top: 5em;
	
  }

.home3{
	  max-width: 500px;	 
  }


  /*  had a really hard time figuring out how to do  this one  */
.section-3 img{
	box-shadow: 0 -9px 0px 0px white, 0 -9px 0px 0px white, 70px 0px 0px -20px #E5E4E0, -70px 0 0px -20px #E5E4E0;
  }
 /* --------------------- SECTION 3 ---------------------- */


.footer-container a{
	  color: #D8BB5A;
	  text-decoration: none;
	  font-family: 'Manrope', sans-serif; 
	  
	  
  }

.footer-container{
	  background-color: #F5F5F5;
	  padding-top: 20px;
	  padding-bottom: 20px;
  }

.footer-container{
	  display: flex;
	  margin: 0;
	  justify-content: space-between;
	  padding-left: 5rem;
  }

.footer-heading {
	  display: flex;
	  flex-direction: column;
	  margin-right: 4rem;
	  line-height: 30px;
  }

.footer-search p {
	color: #D8BB5A;
	text-decoration: none;
	margin-top: .9rem;
	padding-right: 10px;
	padding-left: 10px;
  }

.footer-search{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-direction: row;
	height: 30px;
	font-family: 'Manrope', sans-serif; 
	color: #D8BB5A;
  }

.copyright{
	  display: flex;
	  flex-direction: column;
  }

.search-box{
	  border: #D8BB5A;
  }

.ok-button{
	  border: none;
	  text-decoration: none;
	  background-color: #D8BB5A;
	  color: #ffffff;
  }

  
 